@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

.center-item {
  display: flex;
  justify-content: center;
}

.App {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  align-items: center;
  height: 100%;
  padding-bottom: 100px;
  padding-top: 100px;
  max-width: 1000px;
}

.weather-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.weather-body {
  padding: 0;
  display: flex;
  justify-content: center;
}

.weather-img {
  width: 6rem;
  height: 6rem;
}

.temp-info {
  display: flex;
  justify-content: space-between;
}

.current-temp {
  font-size: 3rem;
}

.current-temp-container {
  display: flex;
}

.weather-description {
  display: flex;
  align-items: center;
  text-align: right;
}

.details-heading {
  /* background-color: grey; */
  display: flex;
  justify-content: flex-start;
}

.border {
  border: border solid grey 1px;
}

.details-text {
  font-size: 0.8rem;
}

.details-data {
  /* display: flex; */
  justify-content: flex-start;
}
