@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

.non-bg {
  filter: blur(0);
}

.app-name {
  font-size: 2rem;
}

.center-item {
  display: flex;
  justify-content: center;
}

.current-weather-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.center-vertical {
  display: flex;
  align-items: center;
}

.App {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  align-items: center;
  height: 100%;
  padding-bottom: 100px;
  padding-top: 100px;
  max-width: 1000px;
}

.app-container {
  display: flex;
  align-items: center;
  justify-content: center;

  /* view-point height */
  height: 100vh;
}

.weather-card {
  display: flex;
  justify-content: space-between;
  width: 50%;
  border-radius: 6px;
  text-align: left;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.weather-card-city {
  font-size: 60%;
}

.weather-card-description {
  font-size: 60%;
}

.weather-img {
  width: 50%;
  height: 50%;
}

.disable-link {
  text-decoration: none;
  color: black;
}

.disable-link :hover {
  color: black;
}

.weather-icon {
  width: 50%;
}
